<!--video height="270" width="480" controls
  poster="https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf-hls/dev/thumb-188x108-00001.png"
  src src="https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf-hls/dev/small.m3u8">
  <p>Your browser does not support HLS playback in HTML5.</p>
</video-->


<!--div class="flowplayer"-->
    <!--video>
      <source type="video/mp4" src="https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf/small.mp4" />
    </video>
    <video>
      <source type="application/x-mpegurl" src="https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf-hls/dev/small.m3u8" />
    </video-->

    <!--video>
      <source type="video/mp4" src="<%- video.location %>">
    </video-->

    <!--video>
      <source type="application/x-mpegurl" src="https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf-hls/<%- video.outputKeyPrefix %>/<%- video.playlist %>">
    </video-->
  <!--/div-->
<div><a href="<%- video.location %>">Download</a></div>

<div id="player"></div>

<script>
// select the above element as player container
var container = document.getElementById("player");

// install flowplayer into selected container
flowplayer(container, {
    clip: {
        sources: [
              { type: "application/x-mpegurl",
                src:  "https://s3-us-west-2.amazonaws.com/streamer-dev-huijfdsasdf-hls/<%- video.outputKeyPrefix %>/<%- video.playlist %>.m3u8" },
              { type: "video/mp4",
                src:  "<%- video.location %>" }
        ]
    }
});
</script>
